@media only screen and (min-width: 1024px) {
  main {
    margin-top: 2%;
    margin-right: 5% ;
    width: 40%;
    float: right;
  } 
  header {
    top: 120px ;
    margin: 5% ;
    width: 44%;
    float: left;
  }
  nav {
    background-color: #b181cc;
  }

  nav button {
    background-color: #d3b24e;
  }
}