header {
  height: 400px;
  width: 100%;
  position: relative;
  top: 120px;
  background-color: #c5a84e;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
  text-align: center;
}

.profile {
  position: relative;
  top: 25px;
}



