

.new-tweet {
  width: 100%;
  position: relative;
  align-self: center;
  text-align: left;
  background-color: #f4f1ec;
  top: auto;
}

textarea {
  border: 0px;
  border-bottom: 3px solid #424038;
  margin: 0 px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 10px;
  font-family: 'Source Sans Pro',sans-serif ;
  color: #545149;
  width: 100%;
  outline: none;
  resize: none;
  background-color: inherit;
  height: 50px;
}

.tweet-footer {
  margin-top: 10px;
}

.counter {
  float: right;
  font-family: 'Bungee',sans-serif;
  color: #424038;
  margin-right: 0px;

}

input {
  background-color: #b181cc;
  color: #FFFFFF;
  font-family: 'Bungee',sans-serif;
  border-width: 0px;
  border-color: black;
  font-size: large;
  padding: 5px;
  text-align: left;
  outline: none;
}

input:hover {
  box-shadow: rgb(165, 164, 164) 0px 0px 5px 5px;
}

input:active {
  box-shadow: grey 0px 0px 5px 5px;
}
