html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

/*
 * Global layout stuff
 */
body {
  font-family: "Source Sans Pro", sans-serif;
  color: #545149;
  background-color: #f4f1ec;
  font-size: 24px;
  position: relative;
  width: 100%;
  text-align: center; }

main {
  margin: auto;
  width: 90%;
  background-color: #f4f1ec;
  position: relative;
  top: 120px;
  display: inline-block; }
  main .toTop {
    float: right;
    position: fixed;
    background-color: #6dc97f;
    color: #6dc97f;
    border: 0px;
    outline: none;
    bottom: 40px;
    right: 120px;
    justify-content: center;
    align-content: center;
    border-radius: 5000px;
    box-shadow: grey 2px 2px 2px; }
    main .toTop .arrow {
      width: 50px;
      height: 10%;
      transform: rotate(270deg); }
  main .toTop:active {
    box-shadow: grey 0px 0px 5px 5px; }

nav {
  font-family: "Bungee", sans-serif;
  position: fixed;
  width: 100%;
  height: 120px;
  background-color: none;
  color: #f4f1ec;
  padding: 1.5em;
  z-index: 100;
  text-align: left; }
  nav button {
    float: right;
    background-color: #b181cc;
    border: 0px;
    outline: none;
    border-radius: 12px; }
    nav button .pen {
      width: 50px;
      height: 5%; }

@keyframes writing {
  from {
    transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg); }
  to {
    transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg); } }
    nav button .writing {
      -webkit-animation: writing 2s linear infinite;
      -moz-animation: writing 2s linear infinite;
      -ms-animation: writing 2s linear infinite;
      -o-animation: writing 2s linear infinite;
      animation: writing 2s linear infinite; }
  nav button:hover {
    box-shadow: #b8b8b8 0px 0px 5px 5px; }
  nav button:active {
    box-shadow: grey 0px 0px 5px 5px; }
  nav button:active .container .new-tweet {
    visibility: hidden; }

header {
  height: 400px;
  width: 100%;
  position: relative;
  background-color: #d3b24e;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
  text-align: center; }
  header .profile {
    position: relative;
    top: 25px; }

.new-tweet {
  width: 100%;
  position: relative;
  align-self: center;
  text-align: left;
  background-color: #f4f1ec;
  top: auto; }
  .new-tweet textarea {
    border: 0px;
    border-bottom: 3px solid #545149;
    margin: 0 px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 10px;
    font-family: "Source Sans Pro", sans-serif;
    color: #545149;
    width: 100%;
    outline: none;
    resize: none;
    background-color: inherit;
    height: 50px; }
  .new-tweet .tweet-footer {
    margin-top: 10px; }
    .new-tweet .tweet-footer .counter {
      float: right;
      font-family: "Bungee", sans-serif;
      color: #545149;
      margin-right: 0px; }
    .new-tweet .tweet-footer input {
      background-color: #b181cc;
      color: #f4f1ec;
      font-family: "Bungee", sans-serif;
      border-width: 0px;
      border-color: black;
      font-size: large;
      padding: 5px;
      text-align: left;
      outline: none; }
    .new-tweet .tweet-footer input:hover {
      box-shadow: #a5a4a4 0px 0px 5px 5px; }
    .new-tweet .tweet-footer input:active {
      box-shadow: grey 0px 0px 5px 5px; }
  .new-tweet .alert {
    float: center;
    text-align: center;
    justify-self: center;
    margin: auto;
    margin-bottom: 20px;
    padding: 10px;
    color: red;
    background-color: rgba(255, 121, 121, 0.205);
    opacity: 90%;
    border: red;
    border-width: 10px;
    z-index: 100;
    width: 90%; }

#tweets-container {
  position: relative;
  background-color: #f4f1ec;
  display: flexbox;
  flex-direction: column; }
  #tweets-container .old-tweet {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    color: #545149;
    border: 3px solid #545149;
    opacity: .5; }
    #tweets-container .old-tweet p {
      margin: 10px;
      width: 95%;
      display: flex;
      padding: 5px;
      padding-bottom: 10px;
      border-bottom: solid 3px;
      align-self: center;
      font-size: large;
      background-color: #f4f1ec; }
    #tweets-container .old-tweet p2 {
      margin: 10px; }
    #tweets-container .old-tweet h6 {
      font-family: "Source Sans Pro", sans-serif;
      margin: 10px; }
    #tweets-container .old-tweet footer {
      width: 95%;
      margin: 10px;
      background-color: #f4f1ec;
      padding: 5px;
      font-size: small;
      font-family: "Source Sans Pro", sans-serif;
      display: flex;
      direction: ltr;
      justify-content: flex-start; }
      #tweets-container .old-tweet footer img {
        justify-self: end;
        margin-left: auto; }
    #tweets-container .old-tweet header {
      width: 95%;
      margin: 10px;
      height: fit-content;
      top: unset;
      background-color: #f4f1ec;
      padding-top: 5px;
      font-size: medium;
      display: flex;
      direction: ltr;
      justify-content: flex-start; }
    #tweets-container .old-tweet img {
      margin: 10px;
      justify-self: start; }
    #tweets-container .old-tweet .name {
      font-family: "Source Sans Pro", sans-serif;
      justify-self: left; }
    #tweets-container .old-tweet .name-id {
      font-family: "Source Sans Pro", sans-serif;
      justify-self: end;
      margin-left: auto;
      visibility: hidden; }
  #tweets-container .old-tweet:hover {
    box-shadow: 5px 5px grey;
    font-style: bolder;
    opacity: 1; }
  #tweets-container .old-tweet:hover .name-id {
    visibility: visible;
    opacity: .5; }

@media only screen and (min-width: 1024px) {
  main {
    margin-top: 2.75%;
    margin-right: 5%;
    width: 40%;
    float: right; }
  header {
    top: 120px;
    margin: 5%;
    width: 44%;
    float: left; }
  nav {
    background-color: #b181cc; }
  nav button {
    background-color: #d3b24e; } }
